@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--default-font-family: 'Figtree', sans-serif;
	--font-sans: 'Figtree', sans-serif;
	--font-variant-numeric: tabular-nums;
	--color-background: #ffffff;
	--color-border: #e5e7eb;
	--color-muted: #f3f4f6;
	--color-foreground-muted: #525252;
	--color-foreground-tint: #71717a;
	--color-foreground: #121212;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
}

@keyframes fade-out {
	to {
		opacity: 0;
	}
}

@keyframes slide-from-right {
	from {
		transform: translateX(30px);
	}
}

@keyframes slide-to-left {
	to {
		transform: translateX(-30px);
	}
}

:root::view-transition-old(root) {
	animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out;
}

@media screen and (max-width: 768px) {
	:root::view-transition-old(root) {
		animation:
			90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
			300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
	}
}

:root::view-transition-new(root) {
	animation: 210ms cubic-bezier(0, 0, 0.2, 1) both fade-in;
}

@media screen and (max-width: 768px) {
	:root::view-transition-new(root) {
		animation:
			210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
			300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
	}
}
